<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   
    <!-- <bean id="dao" class="user.dao.UserDAO_JDBC"/>
    <bean id="dao2" class="user.dao.UserDAO_Spring"/>
    <bean id="dao3" class="user.dao.UserDAO_iBatis"/>
    <bean id="dao4" class="user.dao.UserDAO_MyBatis"/> 
    
    <bean id="service" class="user.service.UserServiceImpl" 
                                          autowire="byName">
        <constructor-arg ref="dao2"/>
        <property name="dao" ref="dao1"/>
    </bean>
    
    
    
    <bean id="user" class="user.vo.UserVO" p:userid="java01" 
                                           p:address="서울시 ~~~"
                                           p:phone="010-000-0000">
       <property name="username" value="홍길동"/>
    </bean>
      -->
</beans>



